pre code.hljs{
  display:block;
  overflow-x:auto;
  padding:1em
}
code.hljs{
  padding:3px 5px
}
.hljs{
  color:#e8eaed;
  background:#1e1e1e
}
.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_{
  color:#bf67ff
}
.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_,.hljs-property{
  color:#facc15
}
.hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id{
  color:#9cdcfe
}
.hljs-number{
  color:#79c0ff
}
.hljs-variable{
  color:#9cdcfe
}
.hljs-regexp,.hljs-string,.hljs-meta .hljs-string{
  color:#fe8d59
}
.hljs-built_in,.hljs-symbol{
  color:#4ec9b0
}
.hljs-comment,.hljs-code,.hljs-formula{
  color:#6a9955
}
.hljs-name,.hljs-quote,.hljs-selector-tag,.hljs-selector-pseudo{
  color:#569cd6
}
.hljs-subst{
  color:#e8eaed
}
.hljs-section{
  color:#4fc1ff;
  font-weight:700
}
.hljs-bullet{
  color:#6796e6
}
.hljs-emphasis{
  color:#e8eaed;
  font-style:italic
}
.hljs-strong{
  color:#e8eaed;
  font-weight:700
}
.hljs-addition{
  color:#b5cea8;
  background-color:#1b4721
}
.hljs-deletion{
  color:#ce9178;
  background-color:#78191b
}
