div.markdown-content:has(.standup-state) li { margin-left: 1rem; }
div.markdown-content:has(.standup-state) h3 { text-align: center; text-transform: uppercase; }
div.markdown-content:has(.standup-state) h3 span { color: #bfbdbd; }
div.markdown-content:has(.standup-state) ul { margin-bottom: 2rem; }
div.markdown-content:has(.standup-state) li button { margin-right: 0.25rem; }
div.markdown-content:has(.standup-state) div.standup-yesterday ul,
div.markdown-content:has(.standup-state) div.standup-key ul,
div.markdown-content:has(.standup-state) div.standup-blockers ul {
  padding-left: 0;
  margin: 0;
}
div.markdown-content:has(.standup-state) div.standup-yesterday li,
div.markdown-content:has(.standup-state) div.standup-key li,
div.markdown-content:has(.standup-state) div.standup-blockers li {
  list-style-type: none;
  margin-left: 1rem;
  margin-bottom: 0.25rem;
}

/* Section header icons */
div.markdown-content:has(.standup-state) div.standup-state h4::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSJub25lIiBzdHJva2U9IiM5Y2EzYWYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICA8cGF0aCBkPSJNMTYgNGgyYTIgMiAwIDAgMSAyIDJ2MTRhMiAyIDAgMCAxLTIgMkg2YTIgMiAwIDAgMS0yLTJWNmEyIDIgMCAwIDEgMi0yaDIiLz4KICA8cmVjdCB4PSI4IiB5PSIyIiB3aWR0aD0iOCIgaGVpZ2h0PSI0IiByeD0iMSIgcnk9IjEiLz4KICA8bGluZSB4MT0iOCIgeTE9IjEwIiB4Mj0iMTYiIHkyPSIxMCIvPgogIDxsaW5lIHgxPSI4IiB5MT0iMTQiIHgyPSIxNiIgeTI9IjE0Ii8+CiAgPGxpbmUgeDE9IjgiIHkxPSIxOCIgeDI9IjEyIiB5Mj0iMTgiLz4KPC9zdmc+Cg==");
  margin-right: 0.5rem;
  vertical-align: middle;
}

div.markdown-content:has(.standup-state) div.standup-breakfast h4::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSJub25lIiBzdHJva2U9IiM5Y2EzYWYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICA8ZWxsaXBzZSBjeD0iMTIiIGN5PSIxNCIgcng9IjgiIHJ5PSI2Ii8+CiAgPGNpcmNsZSBjeD0iMTIiIGN5PSIxMyIgcj0iMyIvPgo8L3N2Zz4K");
  margin-right: 0.5rem;
  vertical-align: middle;
}

div.markdown-content:has(.standup-state) div.standup-today h4::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSJub25lIiBzdHJva2U9IiM5Y2EzYWYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICA8cGF0aCBkPSJNNC41IDE2LjVjLTEuNSAxLjI2LTIgNS0yIDVzMy43NC0uNSA1LTJjLjcxLS44NC43LTIuMTMtLjA5LTIuOTFhMi4xOCAyLjE4IDAgMCAwLTIuOTEtLjA5eiIvPgogIDxwYXRoIGQ9Ik0xMiAxNWwtMy0zYTIyIDIyIDAgMCAxIDItMy45NUExMi44OCAxMi44OCAwIDAgMSAyMiAyYzAgMi43Mi0uNzggNy41LTYgMTFhMjIuMzUgMjIuMzUgMCAwIDEtNCAyeiIvPgogIDxwYXRoIGQ9Ik05IDEySDRzLjU1LTMuMDMgMi00YzEuNjItMS4wOCA1IDAgNSAwIi8+CiAgPHBhdGggZD0iTTEyIDE1djVzMy4wMy0uNTUgNC0yYzEuMDgtMS42MiAwLTUgMC01Ii8+Cjwvc3ZnPgo=");
  margin-right: 0.5rem;
  vertical-align: middle;
}

div.markdown-content:has(.standup-state) div.standup-yesterday h4::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSJub25lIiBzdHJva2U9IiM5Y2EzYWYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICA8cmVjdCB4PSIzIiB5PSI0IiB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHJ4PSIyIiByeT0iMiIvPgogIDxsaW5lIHgxPSIxNiIgeTE9IjIiIHgyPSIxNiIgeTI9IjYiLz4KICA8bGluZSB4MT0iOCIgeTE9IjIiIHgyPSI4IiB5Mj0iNiIvPgogIDxsaW5lIHgxPSIzIiB5MT0iMTAiIHgyPSIyMSIgeTI9IjEwIi8+CiAgPGxpbmUgeDE9IjgiIHkxPSIxNCIgeDI9IjgiIHkyPSIxNCIvPgogIDxsaW5lIHgxPSIxMiIgeTE9IjE0IiB4Mj0iMTIiIHkyPSIxNCIvPgogIDxsaW5lIHgxPSIxNiIgeTE9IjE0IiB4Mj0iMTYiIHkyPSIxNCIvPgogIDxsaW5lIHgxPSI4IiB5MT0iMTgiIHgyPSI4IiB5Mj0iMTgiLz4KICA8bGluZSB4MT0iMTIiIHkxPSIxOCIgeDI9IjEyIiB5Mj0iMTgiLz4KPC9zdmc+Cg==");
  margin-right: 0.5rem;
  vertical-align: middle;
}

div.markdown-content:has(.standup-state) div.standup-blockers h4::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSJub25lIiBzdHJva2U9IiM5Y2EzYWYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICA8cmVjdCB4PSIyIiB5PSI2IiB3aWR0aD0iMjAiIGhlaWdodD0iOCIgcng9IjEiIGZpbGw9Im5vbmUiLz4KICA8bGluZSB4MT0iNiIgeTE9IjYiIHgyPSIxMCIgeTI9IjE0Ii8+CiAgPGxpbmUgeDE9IjE0IiB5MT0iNiIgeDI9IjE4IiB5Mj0iMTQiLz4KICA8bGluZSB4MT0iNCIgeTE9IjE0IiB4Mj0iNCIgeTI9IjIwIi8+CiAgPGxpbmUgeDE9IjIwIiB5MT0iMTQiIHgyPSIyMCIgeTI9IjIwIi8+Cjwvc3ZnPgo=");
  margin-right: 0.5rem;
  vertical-align: middle;
}

div.markdown-content:has(.standup-state) div.standup-notes h4::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSJub25lIiBzdHJva2U9IiM5Y2EzYWYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICA8cGF0aCBkPSJNMSAxMnM0LTggMTEtOCAxMSA4IDExIDgtNCA4LTExIDgtMTEtOC0xMS04eiIvPgogIDxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjMiLz4KPC9zdmc+Cg==");
  margin-right: 0.5rem;
  vertical-align: middle;
}


/* not started */
div.markdown-content:has(.standup-state) div.standup-yesterday > ul > li:not(:has(ul)):has(button[aria-checked="false"])::before,
div.markdown-content:has(.standup-state) div.standup-key > details > ul > li:not(:has(ul)):has(button[aria-checked="false"])::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij4KICA8Y2lyY2xlIGN4PSI4IiBjeT0iOCIgcj0iNyIgZmlsbD0iI2U1ZTdlYiIvPgo8L3N2Zz4K");
  margin-right: 0.2rem;
  vertical-align: middle;
}

/* in progress */
div.markdown-content:has(.standup-state) div.standup-yesterday > ul > li:has(ul):has(button[aria-checked="false"])::before,
div.markdown-content:has(.standup-state) div.standup-key > details > ul > li:has(ul):has(button[aria-checked="false"])::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij4KICA8Y2lyY2xlIGN4PSI4IiBjeT0iOCIgcj0iNyIgZmlsbD0iI2VhYjMwOCIvPgo8L3N2Zz4K");
  margin-right: 0.5rem;
  vertical-align: middle;
}

/* blocked */
div.markdown-content:has(.standup-state) div.standup-yesterday > ul > li:has(ul):has(button[aria-checked="true"])::before,
div.markdown-content:has(.standup-state) div.standup-key > details > ul > li:has(ul):has(button[aria-checked="true"])::before,
div.markdown-content:has(.standup-state) div.standup-blockers > ul > li::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij4KICA8Y2lyY2xlIGN4PSI4IiBjeT0iOCIgcj0iNyIgZmlsbD0iI2VmNDQ0NCIvPgo8L3N2Zz4K");
  margin-right: 0.5rem;
  vertical-align: middle;
}

/* done */
div.markdown-content:has(.standup-state) div.standup-yesterday > ul > li:not(:has(ul)):has(button[aria-checked="true"])::before,
div.markdown-content:has(.standup-state) div.standup-key > details > ul > li:not(:has(ul)):has(button[aria-checked="true"])::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij4KICA8Y2lyY2xlIGN4PSI4IiBjeT0iOCIgcj0iNyIgZmlsbD0iIzIyYzU1ZSIvPgo8L3N2Zz4K");
  margin-right: 0.2rem;
  vertical-align: middle;
}

div.markdown-content:has(.standup-state) div.standup-yesterday > ul > li > ul,
div.markdown-content:has(.standup-state) div.standup-key > details > ul > li > ul,
div.markdown-content:has(.standup-state) div.standup-yesterday > ul button,
div.markdown-content:has(.standup-state) div.standup-key > details > ul button,
div.markdown-content:has(.standup-state) div.standup-blockers > ul button {
  display: none;
}
